.grid-container {
	display:grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: repeat(3,250px);

}

.item:nth-child(2){
	background-color: #86ac98;
	grid-column: span 2;
}
.item:nth-child(3){
	background-color: #86ac98;
	grid-column: span 2;
}
.item:nth-child(6){
	background-color: #86ac98  ;
	grid-column: span 2;
}
header {
 background-image: url("img/banner.jpg");
 padding-top: 200px;
 padding-bottom: 200px;
 background-size: cover;
 background-repeat: no-repeat;
 color:antiquewhite;
}

.content {
	margin:0 auto;
	width:500px;
}

.resume h1 {
	text-align: center;
	border-bottom: solid aliceblue;
	font-weight: normal;
}

.resume {
	background-color: #2a2f4a;
	padding: 40px 100px 40px 100px;

	color:aliceblue;

}